/*.class {}  #id {}*/
/*блочные элементы div, h*, p, ...*/
/*строчные img, a, span, em, strong, ...*/

* {
	box-sizing: border-box;
}

body {
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333;
}

button {
	font-size: 18px;
	color: #fff;
	background-color: #2727d9;
	border: none;
	width: 300px;
	height: 60px;
	display: block;
	margin: 11px auto;
}

.section {
	padding: 30px 10%;
}

.main {
	text-align: center;
	margin-top: 80px;
}

.header {
	margin-top: 80px;
	text-align: center;
	font-size: 24px;
}

.header span {
	display: block;
	font-weight: 300;
}

.header strong {
	font-weight: 900;
	text-transform: uppercase;
}

.video, .form {
	display: inline-block;
	vertical-align: top;
}

.form {
	margin-left: 30px;
	text-align: center;
	padding: 20px;
	border: 5px solid #2727d9;
}

.form input {
	margin-top: 10px;
	width: 300px;
	padding: 17px;
	font-size: 18px;
	border: 1px solid #333;
	display: block;
}

.form-header {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}

.col {
	display: inline-block;
	width: 130px;
	margin: 10px 50px;
}

.features-header, .clients-header {
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;
}

.features {
	text-align: center;
	margin: 50px 50px;
}

.features p {
	font-weight: 900;
}

.clients-header {
	margin-bottom: 75px;
}

.cl-img-str {
	text-align: center;
}

.cl-photo {
	display: inline-block;
	margin: 0 12px 35px;
}